@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  background-color: #fff;
  color: #000;
  max-height: 100%;
  display: block;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.logo {
  display: block;
  margin: auto;
  max-width: 12em;
}

.background {
}

.name {
  text-align: center;
  line-height: 1.3em;
  margin: none;
  font-weight: 300;
}

h3 {
  font-weight: 500;
}

.description {
  text-align: center;
  margin: auto;
  padding: 2rem;
  padding-top: 0em;
}

p {
  margin: none;
}

hr {
  margin: auto;
  color: #808080;
}

footer {
  text-align: center;
}

h6 {
  color: #808080;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: #000;
}

@media only screen and (min-width: 42em) {


@media only screen and (min-width: 60em) {
